html {
  scroll-behavior: smooth;
}

body {
  background: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-custom1{
  background: #204051;
}

.about {
  padding-top: 15px;
  text-align: center;
  color: #111d5e;
}
a {
  color: white;
}
a:hover {
  color: white;
  text-shadow:0px 0px 30px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

ul {
  margin-left: 8%;
}

#mainPlace {
  height: 320px;
  opacity: 0.6;
}

#mainTitle {
  padding-top: 40px;
  text-align: center;
  color: #111d5e;
}

h6
{
  color: #204051;
}
.e1{
  display: block;
  background: #111d5e;
  width: 100%;
  height: 200px;
  color: white;
}

.e2{
  display: block;
  background: #c70039;
  width: 100%;
  height: 200px;
  color: white;
}

.e3{
  display: block;
  background: #f37121;
  width: 100%;
  height: 200px;
  color: white;
}

.e4{
  display: block;
  background: #14b1ab;
  width: 100%;
  height: 300px;
  color: white;
}

.e5{
  display: block;
  background: #9bdeac;
  width: 100%;
  height: 300px;
  color: white;
}

#titleDesc {
  text-align: center;
  color: #111d5e;
}

figcaption {
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}

#parBg {
  background-color: #3b6978;
  opacity: 60%;
  width: 100%;
}
#parBg2 {
  background-color: white;
  opacity: 60%;
  width: 100%;
}
#parBg3 {
  background-color: #3b6978;
  opacity: 60%;
  width: 100%;
  margin-bottom: 30px;
}

#firstPar {
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 1 !important;
}

#firstPar2 {
  color: #111d5e;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 1 !important;
}

.contact {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}

#subject{

    width: 400px;
    height: 300px;

}

#logo{
  width: 7%;
}

.fname,
.age,
.lname,
.subject,
.country,
.email {
  color: white;
}

.submitB {
  margin-bottom: 20px;
  color: #111d5e;
}
